# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Logs
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# MacOS files
.DS_Store

# Flask files
instance/
*.pyc
*.pyo
__pycache__/

# Environment variables
.env
.env.*

# System files
Thumbs.db